<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
  <div class="col">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn button1"><i class="fa fa-columns" (click)="viewChange(false)"></i></button>
      <button class="btn button1"><i class="fa fa-th" (click)="viewChange(true)"></i></button>
    </div>
  </div>
  <div class="col text-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dialogo1" >ADD ROW</button>
    

  </div>
</div>



