
<table class="table table-bordered table-hover" id="tablecompleta">

  <thead class="table-dark">
    <tr>
      <th scope="col" *ngFor="let header of headers">
        {{header}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
    *ngFor="let user of users let index= index" (mouseover)="show(index)" (mouseout)="hide(index)">

      <td>
        <label  id="labelname{{index}}"*ngIf="editable==false || (editable==true  && index!=currentindex)" size="20">{{user.name}}</label>
        <input  *ngIf="editable==true  && index===currentindex"  (keyup)="modifyname($event)" [value]="userselected.name" formControlName="name"   size="20">
        <div *ngIf="nameControl.invalid">
          <div *ngIf="nameControl.errors.required">Name required</div>
          <div *ngIf="nameControl.errors.minlenght">Min size</div>
        </div>
      </td>
      <td>
        <label *ngIf="editable==false || (editable==true  && index!=currentindex)" size="20">{{user.email}}</label>
        <input *ngIf="editable==true  && index===currentindex" (keyup)="modifyemail($event)" [value]="userselected.email" size="20">
      </td>
      <td>
        <label *ngIf="editable==false || (editable==true  && index!=currentindex)">{{user.department}}</label>

        <select *ngIf="editable==true  && index===currentindex" class="form-control" (selectionChange)="modifydepartment($event)">
          <option *ngFor="let department of departments" [value]="userselected.department">
            {{department}}
          </option>
        </select>

      </td>
      <td >
        <!--<app-dialog [userr] =userselected class="dialogoo" id="myModal2">
           *ngIf="showit && index===currentindex"
        </app-dialog>-->
        <div>
          <button *ngIf="editable==false" type="button" class="btn btn-primary" (click)="edit(index,user)"><i class="fa fa-pencil"></i></button>
          <button *ngIf="editable==true" type="button" class="btn btn-primary" (click)="save(index)"><i class="fa fa-check"></i></button>

          <button *ngIf="editable==false" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dialogo1" (click)="selectuser(index)" ><i class="fa fa-trash" ></i></button>
          <button *ngIf="editable==true" type="button" class="btn btn-primary" (click)="cancel(index)"><i class="fa fa-times"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
